/* * {
  border: 1px red solid;
} */

html,
body {
  margin: 0 auto;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

:root {
  --animate-duration: 2s;
}

a {
  text-decoration: none;
  color: #000000;
}

a video {
  display: block;
  width: 100vw;
  position: relative;
  height: 100vh;
  top: 220px;
  object-fit: cover;
}

.row {
  margin: 0px;
}

/* font size */

p,
li,
.main-artcle p,
.works-content-details p {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  margin: 0px;
  padding: 0px;
  font-size: clamp(16px, 4vw, 24px);
}

h1,
h2,
h3,
h4 {
  font-size: clamp(2rem, 5vw, 3rem);
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  margin: 0px;
  padding: 0px;
}

/* spacing */

.p-brand {
  padding: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.offcanvas-header {
  padding: 50px;
}

.brand-spacer {
  padding: 36px;
}

.brand-spacer-20 {
  padding: 20px 0;
}

.brand-spacer-30 {
  padding: 30px 0;
}

.brand-spacer-50 {
  padding: 50px 0;
}

.all-spacer {
  margin-top: 154px;
  padding-bottom: 150px;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

.top-spacer {
  margin-top: 130px;
}

.padding-left-right {
  padding: 0 50px;
}

.modal-backdrop {
  z-index: -1;
}

/* colors*/

.bg-brand-green {
  background-color: #062d28;
  color: white;
}

.bg-brand-white,
.bg-brand-white ul a {
  background-color: #ffffff;
  color: #000000;
}

/* nav */

.navbar-toggler:focus {
  /*Below line will remove the border from the icon
    I have used bootstrap icon here */
  /* This will only remove the shadow effect */
  /* Border is still there */
  /* if you don't want any border then set the property equals to zero */
  border: 0;
  box-shadow: none;

  /* This will remove the rounded corner(radious-border)
    and give square border */
  /* border-radius: 0 !important; */
}

.navbar-toggler {
  /* This will completely remove border from the icon */
  /* If you need border for the icon then comment this code */
  border: 0;

  /* if you want to check the border please uncomment below code */
  /* border-color: yellow !important; */
}

.nav-item h1 {
  font-weight: 500;
}

.custom-brand {
  height: 20vh;
  align-content: center;
  font-size: clamp(1.5rem, 5vw, 2rem);
}

.navbar-toggler-icon {
  background-image: url(img/menu.png);
  background-size: contain;
}

.nav-padding {
  padding: 30px 50px;
}

.offcanvas-header {
  justify-content: right;
}

.offcanvas-header button {
  height: 72px;
}

.btn-close.m-0 {
  opacity: 1;
}

.btn-close {
  background-image: url(img/cancel.png);
  background-size: contain;
}

.navbar-nav a:hover {
  color: #ffb800;
}

/* parallax */

.parallax-wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 300px;
}

.parallax-group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}

#parallax-swiper {
  transform: translateZ(-300px) scale(2.03);
}

/* swiper */

.swiper-wrapper {
  height: 100vh;
}

.swiper-slide {
  text-align: center;
  background: #ffffff;
  display: flex;
  justify-content: left;
  align-items: flex-end;
}
/* .swiper-slide a {
  position: absolute;
} */

.swiper-slide img {
  width: 100vw;
  position: relative;
  height: 100vh;
  top: 220px;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  margin: 0 50px;
  color: #ffffff;
}

.swiper-pagination {
  font-size: clamp(1.5rem, 2vw, 2rem);
  text-align: right;
  padding: 50px;
  left: -14px;
  color: #ffffff;
  font-weight: bolder;
  font-family: "Inter Tight", sans-serif;
}

.carousel-label {
  text-align: left;
  padding: 50px;
  position: relative;
  color: #ffffff;
}

.carousel-label h3 {
  font-size: clamp(1.5rem, 11vw, 2.5rem);
  font-weight: 600;
}

.swiper-slide > *:hover {
  text-decoration: underline;
  text-decoration-color: #ffffff;
}

/* home intro */

.home-intro h1 {
  font-size: clamp(1.3rem, 5vw, 5rem);
}
.home-intro h2 {
  font-size: clamp(1.3rem, 4vw, 3rem);
}

.home-intro h2 {
  font-weight: 500;
  padding-top: 20px;
  width: 60%;
}

.home-intro h3 {
  font-weight: 400;
}

.home-intro {
  padding: 60px;
  height: 100vh;
  align-content: center;
}

/* intro */

.intro {
  padding: 50px;
}

.intro h1 {
  font-size: clamp(2rem, 8vw, 4.5rem);
}

.intro p {
  font-size: clamp(1rem, 4vw, 1.8rem);
  font-weight: 300;
}

.intro div {
  align-content: center;
}

/* link */

.view-all-link {
  text-align: center;
  padding: 100px 0px;
}

.view-all-link a:hover {
  color: #ffb800;
  transition: 0.3s;
}

/* works */

.works {
  padding: 50px 100px;
}

/* .works h2 {
  padding-bottom: 50px;
} */

.works-content .work-hover img:hover,
.works-video-grid:hover,
.works-content-home img:hover,
.works-video-grid-home:hover {
  filter: brightness(70%);
  padding: 0px 10px;
  transition: 0.3s;
}

.works-content img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.works-img-grid img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  padding-right: 20px;
  padding-bottom: 20px;
}

.works-content-home img,
.works-video-grid-home {
  object-fit: cover;
  width: 100%;
  height: 300px;
  top: 0px;
}

.works-content-details {
  padding: 20px 0;
}

.works-content-details h4 {
  font-size: clamp(24px, 3vw, 30px);
  font-weight: 600;
}

.works-content-details p {
  font-size: clamp(16px, 3vw, 20px);
}

.works-content-grid,
.works-content-grid-home {
  padding-top: 50px;
  padding-right: 20px;
  padding-left: 0px;
}

.works-content-grid img {
  height: 300px;
}

.works-video-grid {
  width: 100%;
  height: 300px;
  top: 0px;
}

.video-in-works {
  width: 100vw;
}

/* .works-content div {
  padding-top: 20px;
} */

/* pill */

.pill-row,
.pill-row-white {
  display: flex;
  flex-wrap: wrap;
}

.pill {
  background: #000000;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  height: 24px;
  align-items: center;
  justify-content: center;
  display: flex;
  /* margin: 0px 10px; */
  margin-right: 20px;
  color: #ffffff;
  padding: 10px 30px;
  margin-bottom: 10px;
}

.pill-radius {
  background: #000000;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  height: 24px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 20px;
  /* margin: 0px 10px; */
  margin-right: 20px;
  color: #ffffff;
  padding: 10px 30px;
  margin-bottom: 10px;
}

.pill-white {
  background: #ffffff;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  height: 24px;
  align-items: center;
  justify-content: center;
  display: flex;
  /* margin: 0px 10px; */
  margin-right: 20px;
  color: #000000;
  padding: 10px 30px;
  margin-bottom: 10px;
}

.pill-radius-white {
  background: #ffffff;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  height: 24px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 20px;
  /* margin: 0px 10px; */
  margin-right: 20px;
  color: #000000;
  padding: 10px 30px;
  margin-bottom: 10px;
}

/* blogs */

.blogs {
  padding: 0px 50px;
  height: 100vh;
  align-content: space-around;
}

/* .blogs h2 {
  padding-bottom: 50px;
} */

.blogs img {
  height: 300px;
}

/* footer */

footer {
  padding: 50px;
}

footer img {
  margin: 5px 0;
}

footer p {
  font-size: clamp(16px, 3vw, 20px);
}

footer h4,
.scoial-links h4 {
  font-size: clamp(24px, 3vw, 30px);
}

.social-links {
  text-align: right;
  color: #ffffff;
}

.social-links a:hover {
  color: #ffb800;
  transition: 0.3s;
}

/* all-works */

.nav-link h4 {
  font-size: clamp(1.5rem, 3vw, 2rem);
}

.all-works h2 {
  padding: 12px 0;
}

.all-works .navbar h4 {
  font-weight: 500;
}

.all-works a.nav-link.active,
.all-works a.nav-link {
  padding-right: 20px;
}

.all-works {
  margin-top: 142px;
  padding-bottom: 150px;
}

.all-works-links {
  display: flex;
}

.all-works-links a {
  padding: 20px;
}

.main-article-img img,
.blog-img {
  width: 100%;
}

.article-img img {
  width: 100%;
  padding: 20px 0px;
}

.main-article {
  padding: 50px 100px;
  padding-bottom: 150px;
}

main-article img {
  padding: 0px;
}

.main-article p {
  width: 80%;
}
/* 
.main-article h2,
.main-article h3 {
  padding-top: 20px;
} */

.main-article p,
ol {
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-article-p-fw {
  font-weight: 400;
}

.creative-design-process img {
  height: 400px;
}

.in-works-link {
  text-align: center;
  font-size: 26px;
  margin: 30px 0;
  padding: 20px;
  font-weight: 500;
  border: 3px solid black;
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-weight: 500;
}

.in-works-link:hover {
  background-color: #ffb800;
  transition: 0.3s;
  cursor: pointer;
}

.updown-link {
  text-decoration: underline;
  font-weight: 400;
}

.target-nav-link {
  color: white;
}

.updown-link:hover,
.target-nav-link:hover {
  color: #ffb800;
  transition: 0.3s;
  cursor: pointer;
}

/* works nav link */

#text-right {
  text-align: right;
}

.nav-link a {
  font-size: 20px;
}

.nav-link a:hover {
  color: #ffb800;
  transition: 0.3s;
  cursor: pointer;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .navbar-brand img {
    width: 60px;
  }
  .nav-padding {
    padding: 20px 40px;
  }

  .all-spacer {
    padding: 40px;
    margin-top: 150px;
  }

  .home-intro {
    padding: 40px;
  }

  .top-spacer {
    margin-top: 100px;
  }
  .swiper-wrapper {
    height: 90vh;
  }

  .swiper-pagination {
    left: 40px;
    bottom: 120px;
    text-align: left; /* Adjust text alignment */
    padding: 0; /* Remove padding */
    width: fit-content;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }

  .carousel-label {
    padding-left: 40px;
    padding-bottom: 40px;
    bottom: 34px;
  }

  .carousel-label h4 {
    font-size: 30px;
  }

  .carousel-label p {
    display: none;
  }

  .intro,
  .works,
  .all-works,
  .main-article {
    padding: 40px;
  }

  .works {
    margin-top: 98px;
  }

  .works-content img,
  .works-video-grid {
    object-fit: cover;
    width: 100%;
    height: 260px;
  }

  .pill-row {
    width: auto;
  }

  .pill-col {
    padding-top: 10px;
  }

  a video {
    width: 100vw;
    height: 100vh;
    top: 230px;
  }

  .social-links {
    text-align: left;
    padding-top: 40px;
  }

  .main-article p {
    width: 100%;
  }

  #text-right {
    text-align: left;
  }

  .padding-left-right {
    padding: 0px;
  }

  .works-content-grid,
  .works-content-grid-home {
    padding-right: 0px;
  }

  .works-img-grid img {
    padding-top: 20px;
    padding-right: 0px;
  }

  .parallax-group {
    height: 90vh;
  }

  .home-intro h2 {
    width: 100%;
  }

  .home-intro h3 {
    font-size: 24px;
  }

  .home-intro p {
    font-size: 16px;
  }

  .main-article p {
    width: 100%;
  }
}
