* {
  font-family: "Inter Tight", sans-serif;
}

body {
  color: white;
  background-color: #062d28;
  scroll-behavior: smooth;
}

main {
  margin-top: 132px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover,
#link > *:hover,
.about-a a:hover {
  transition: 0.3s;
  color: #ffc107;
}

section {
  padding: 30px;
}

#sectiongreen {
  background-color: #062d28;
  color: white;
}

#sectionwhite {
  background-color: white;
}

#sectionwhite h1,
#sectionwhite h2,
#sectionwhite h3,
#sectionwhite p {
  color: black;
}

.spacer-160 {
  margin-bottom: 160px;
}

.spacer-180 {
  margin-bottom: 180px;
}

.swiper.mySwiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden {
  height: 840px;
}

#desktop-view {
  display: none;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: black;
}

/* Nav */

nav */ .navbar-toggler:focus {
  /*Below line will remove the border from the icon
    I have used bootstrap icon here */
  /* This will only remove the shadow effect */
  /* Border is still there */
  /* if you don't want any border then set the property equals to zero */
  border: 0;
  box-shadow: none;

  /* This will remove the rounded corner(radious-border)
    and give square border */
  /* border-radius: 0 !important; */
}

.navbar-toggler {
  /* This will completely remove border from the icon */
  /* If you need border for the icon then comment this code */
  border: 0;

  /* if you want to check the border please uncomment below code */
  /* border-color: yellow !important; */
}

.navbar-nav {
  padding: 30px;
}

.nav-item {
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 50px;
}

a.nav-link {
  font-weight: bold;
  color: black;
  text-align: left;
}

.custom-brand {
  height: 20vh;
  align-content: center;
  font-size: clamp(1.5rem, 5vw, 2rem);
}

.navbar-toggler-icon {
  background-image: url(img/menu.png);
  background-size: contain;
}

.nav-padding {
  padding: 30px;
}

.offcanvas-header {
  justify-content: right;
}

.offcanvas-header button {
  height: 72px;
}

.btn-close.m-0 {
  opacity: 1;
}

.btn-close {
  background-image: url(img/cancel.png);
  background-size: contain;
}

.navbar-nav a:hover {
  color: #ffb800;
}

.bg-brand-green {
  background-color: #062d28;
  color: white;
}

/* Typography */

h1 {
  font-weight: bold;
  font-size: calc(50px + 3vw); /* Adjust based on viewport width */
  margin-bottom: 30px;
}

h2 {
  font-weight: 500;
  font-size: calc(20px + 1.8vw); /* Adjust based on viewport width */
  margin: 0px;
}

h3 {
  font-weight: bold;
  font-size: calc(16px + 1vw); /* Adjust based on viewport width */
  margin: 0px;
}

p {
  font-weight: 200;
  font-size: calc(13px + 0.5vw); /* Adjust based on viewport width */
  margin: 0px;
}

#linkleft {
  /* padding-top: 100px; */
  text-align: left;
  align-content: end;
  font-weight: 300;
  text-decoration: underline;
  margin-top: 50px;
}

#link {
  margin-top: 60px;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}

#link > * {
  color: black;
}

/* Intro */

.intro {
  padding: 30px;
}

.breadcrumbs {
  height: 50vh;
  align-content: end;
}

#breadcrumb-1 {
  align-content: end;
}

/* Portfolio */

.portfolio img,
.portfolio video {
  height: 600px;
  width: 100%;
  object-fit: cover;
  /* height: 250px;
  min-height: 240px;
  max-height: 400px; */
  transition: height 0.3s ease;
}

.portfolio-imgs strong {
  font-weight: 600;
}

.portfolio-desc {
  padding: 10px 0;
  margin-bottom: 30px;
  /* display: flex;
  justify-content: space-between; */
}
/* .portfolio-desc h3 {
  width: 223px;
  height: fit-content;
}
.portfolio-desc p {
  width: 300px;
  height: fit-content;
} */

.portfolio img:hover,
.portfolio video:hover {
  filter: brightness(70%);
  transition: 0.3s;
}

/* Blog */

.main-blog-img img {
  width: 100%;
}

.blog img {
  width: 100%;
  /* height: 600px;
  min-height: 240px;
  max-height: 600px; */
  transition: height 0.3s ease;
}

.blog img:hover {
  filter: brightness(70%);
  transition: 0.3s;
}

.blog-desc {
  padding: 20px 0;
  margin-bottom: 20px;
}

/* .blog-desc h3 {
  padding: 20px 0;
} */

/* Footer */

footer {
  padding: 30px;
}

footer p {
  font-weight: bold;
}

footer .social-links a {
  font-weight: lighter;
  display: flex;
  font-size: calc(14px + 0.5vw); /* Adjust based on viewport width */
}

.email-link {
  text-align: right;
}

.email-link h2 {
  font-weight: bold;
}

.email-link a {
  font-weight: 500;
  font-size: calc(16px + 1vw); /* Adjust based on viewport width */
}

.bottom {
  align-content: end;
  height: 68vh;
}

.bottom h1 {
  text-align: right;
  margin: 0px;
  font-size: calc(34px + 3.6vw);
}

#back-to-top {
  font-weight: bold;
  align-self: end;
}

/* About */

#projects {
  background-color: #062d28;
}

.carousel-item img {
  width: 100%;
}

.about-imgs img {
  width: 100%;
}

.about-a {
  margin: 50px 0;
}

.about-a a {
  color: black;
  font-weight: bold;
  font-size: 32px;
  padding-right: 20px;
}

/* .about-desc p {
  font-weight: bold;
} */

/* Projects */

.project {
  display: flex; /* Use flex to align the left and right columns side by side */
  align-items: flex-start; /* Align items to the start */
  height: 100%;
}

.project-details h1 {
  font-size: calc(30px + 1vw);
}

.project-details h4 {
  padding-bottom: 30px;
}

.project-details {
  position: sticky;
  width: 100%;
  top: 132px; /* Adjust to match the height of the fixed navbar */
}

.project-collaborations strong {
  font-weight: bold;
}

.portfolio-imgs img,
.portfolio-imgs video {
  padding: 12px;
  width: 100%;
}
.project-info {
  padding: 50px;
}

.skills-learned ul {
  font-weight: 200;
  font-size: calc(13px + 0.5vw);
}

/* Contact */

.contact-card a {
  color: black;
}

.contact-card-row-1 {
  height: 819px;
}
@media only screen and (max-width: 767px) {
  /* Intro */
  .breadcrumbs {
    height: 50vh;
  }
  #breadcrumb-1 {
    width: 50%;
  }
  #breadcrumb-2 {
    text-align: right;
    width: 50%;
  }

  /* Portfolio */

  .portfolio {
    text-align: left;
  }

  .portfolio-desc {
    margin-bottom: 20px;
    flex-direction: column;
  }

  .project-details-others h3,
  .portfolio-desc h3,
  .portfolio-desc p {
    width: 100%;
    transition: width 0.3s ease;
  }

  .portfolio-imgs p {
    padding: 42px;
  }

  .portfolio img,
  .portfolio video {
    height: 300px;
    width: 100%;
    object-fit: cover;
    /* height: 250px;
  min-height: 240px;
  max-height: 400px; */
    transition: height 0.3s ease;
  }
  .project-details {
    margin-bottom: 50px;
  }

  .project-details-others div {
    flex-direction: column;
  }

  /* .project-details {
    position: relative;
  } */
  /* 
  .about-desc {
    padding-top: 40px;
  } */

  /* Blog */

  .blog {
    text-align: left;
  }

  /* .blog-desc h3 {
    padding: 0px;
  } */

  /* Footer */

  #social-links-1,
  #social-links-2 {
    width: 50%;
  }

  .email-link {
    height: 60vh;
    align-content: center;
  }

  .bottom {
    height: 10vh;
  }

  #back-to-top {
    text-align: center;
    padding: 20px 0;
  }

  .bottom h1 {
    font-size: 24px;
    text-align: center;
  }
}

/* For MacBook Air and MacBook Pro Range */
@media only screen and (min-width: 1280px) and (max-width: 1792px) {
  /* Add styles for a broader range of MacBook sizes */

  /* Projects */

  .project-details h1 {
    font-size: calc(25px + 2vw);
  }
  .project-details h2 {
    font-size: calc(20px + 0.6vw);
  }
}
