<section>
  <div class="all-works all-spacer">
    <h2>Works</h2>
    <nav class="navbar p-0">
      <div class="container-fluid p-0">
        <ul class="navbar-nav flex-lg-row">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="works.html"
              ><h4>All</h4></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="graphic-design.html"
              ><h4>Graphic Design</h4></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#"
              ><h4>Branding Identity</h4></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="motion-graphics.html"
              ><h4>Motion Graphics</h4></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#"
              ><h4>Web Design</h4></a
            >
          </li>
          <!-- <li class="nav-item dropdown">
                    <a
                      class="nav-link dropdown-toggle"
                      href="#"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      Dropdown link
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li>
                        <a class="dropdown-item" href="#">Another action</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#"
                          >Something else here</a
                        >
                      </li>
                    </ul>
                  </li> -->
        </ul>
      </div>
    </nav>
    <!-- <div class="row">
            <div class="all-works-links p-0">
              <a href="#" class="active"><h4>All</h4></a>
              <a href="#"><h4>Graphic Design</h4></a>
              <a href="#"><h4>Brand Identity</h4></a>
              <a href="#"><h4>Motion Graphics</h4></a>
              <a href="#"><h4>Web Design</h4></a>
            </div>
          </div> -->
    <div class="row works-content">
      <div class="work-hover col-lg-6 works-content-grid">
        <a href="#" target="blank">
          <img
            src="img/Spotify_Video.jpg"
            alt="spotify motion graphic design"
          />
          <div class="works-content-details">
            <h4>Spotify Video</h4>
            <p>
              One of my favourite projects that I did with my group in school.
            </p>
          </div>
          <div class="pill-row">
            <div class="pill-col">
              <h4 class="pill">School Work</h4>
            </div>
            <div class="pill-col">
              <h4 class="pill-radius">Motion Graphics</h4>
            </div>
            <div class="pill-col">
              <h4 class="pill-radius">Creative Content Design</h4>
            </div>
          </div>
        </a>
      </div>
      <div class="work-hover col-lg-6 works-content-grid">
        <a href="#" target="blank">
          <img
            src="img/sgf_2023_post1.png"
            alt="graphic design singapore garden festival"
          />
          <div class="works-content-details">
            <h4>Singapore Garden Festival</h4>
            <p>Social Media Post for Singapore Garden Festival.</p>
          </div>
          <div class="pill-row">
            <div class="pill-col">
              <h4 class="pill">School Work</h4>
            </div>
            <div class="pill-col">
              <h4 class="pill-radius">Social Media Post</h4>
            </div>
            <div class="pill-col">
              <h4 class="pill-radius">Graphic Design</h4>
            </div>
          </div>
        </a>
      </div>

      <div class="work-hover col-lg-6 works-content-grid">
        <a href="https://groundedpractice.netlify.app" target="blank">
          <img
            src="img/groundedpracticewebsite.png"
            alt="groundedpractice website garrysmod art"
          />
          <div class="works-content-details">
            <h4>Grounded Practice: Garry's Mod Art</h4>
            <p>A website for all my art that I created with Garry's Mod.</p>
          </div>
          <div class="pill-row">
            <div class="pill-col">
              <h4 class="pill">Personal Project</h4>
            </div>
            <div class="pill-col">
              <h4 class="pill-radius">Web Design</h4>
            </div>
            <div class="pill-col">
              <h4 class="pill-radius">Garry's Mod</h4>
            </div>
          </div>
        </a>
      </div>
    </div>
    <!-- <div class="row">
            <div class="view-all-link">
              <a href="#"><h3>View All Work</h3></a>
            </div>
          </div> -->
  </div>
</section>
