<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- Footer -->
    <footer class="bg-brand-green">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 p-0">
          <h4>© 2024 justincreatesdesigns</h4>
          <p>Envisioning Narratives</p>
          <img
            src="/img/justincreatesdesignsshapes.png"
            alt="justincreatesdesignsshapes"
            width="120px"
          />
        </div>
        <div class="col-lg-6 col-sm-12 p-0">
          <div class="social-links">
            <h4>My Socials</h4>
            <a
              href="https://www.instagram.com/justincreatesdesigns/"
              class="social-links"
            >
              <p>Instagram</p>
            </a>
            <a
              href="https://www.linkedin.com/in/justin-jay-largado-cabonce-510325197/"
              class="social-links"
            >
              <p>LinkedIn</p>
            </a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
